body {
  position: realative;
  height: 100%;
}

.panel {
  position: relative;
}
.panel.overlay:before {
  position: fixed;
  content: '';
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 8999;
}

.wrapper {
  position: relative;
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/* UTILITY ===========================================================*/
.u-border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.u-transition {
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.u-transition.long {
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
.u-transition.elastic {
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.resetDefaultApparence {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 0px;
  padding: 0;
  border-width: 0;
  resize: none;
}
.resetDefaultApparence::-ms-expand {
  display: none;
}
/* STYLE ===========================================================*/
header {
  width: 100%;
  z-index: 50;
  background: #08763f;
}
header > .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 13px;
  gap: 15px;
}
header > .wrapper a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 20px/2;
}
.c-monthyear {
  display: flex;
  margin-right: 20px;
  margin: 0 40px 0 0;
  align-items: center;
}
.c-month {
  position: relative;
  display: flex;
  align-items: center;
}
.c-month #c-paginator {
  position: relative;
  width: 200px;
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  overflow: hidden;
}
.c-month #c-paginator .c-paginator__month {
  position: absolute;
  width: 200px;
  top: 0;
  bottom: 0;
  right: 0;
}
.c-month #c-paginator .c-paginator__month:nth-child(1) {
  left: 0;
}
.c-month #c-paginator .c-paginator__month:nth-child(2) {
  left: 200px;
}
.c-month #c-paginator .c-paginator__month:nth-child(3) {
  left: 400px;
}
.c-month #c-paginator .c-paginator__month:nth-child(4) {
  left: 600px;
}
.c-month #c-paginator .c-paginator__month:nth-child(5) {
  left: 800px;
}
.c-month #c-paginator .c-paginator__month:nth-child(6) {
  left: 1000px;
}
.c-month #c-paginator .c-paginator__month:nth-child(7) {
  left: 1200px;
}
.c-month #c-paginator .c-paginator__month:nth-child(8) {
  left: 1400px;
}
.c-month #c-paginator .c-paginator__month:nth-child(9) {
  left: 1600px;
}
.c-month #c-paginator .c-paginator__month:nth-child(10) {
  left: 1800px;
}
.c-month #c-paginator .c-paginator__month:nth-child(11) {
  left: 2000px;
}
.c-month #c-paginator .c-paginator__month:nth-child(12) {
  left: 2200px;
}
.c-month .prev,
.c-month .next {
  position: absolute;
  display: block;
  font-size: 26px;
  top: 50%;
  width: 30px;
  height: 30px;
  padding: 2px 10px;
  background-color: #37bc23;
  cursor: pointer;
  z-index: 10;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transform: translatey(-50%);
  -webkit-transform: translatey(-50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.c-month .prev.long,
.c-month .next.long {
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
.c-month .prev.elastic,
.c-month .next.elastic {
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.c-month .prev {
  left: 0;
}
.c-month .prev:hover {
  padding: 2px 6px;
  background-color: #2ed315;
}
.c-month .next {
  right: 0;
}
.c-month .next:hover {
  padding: 2px 14px;
  background-color: #2ed315;
}
.c-monthyear__year {
  line-height: 40px;
  padding: 0 12px;
}
/* .c-paginator__year {
  line-height: 40px;
  padding: 0 12px;
} */
.o-btn {
  display: inline-block;
  padding: 0 10px;
  line-height: 30px;
  height: 30px;
  background-color: #37bc23;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 30px/2;
  -webkit-border-radius: 8px;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  color: #FFFFFF;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.o-btn--center {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 150px;
}
.o-btn--close {
  width: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 10px auto;
}

#addEvent {
  margin-bottom: 20px;
}

.o-btn--close .fa-close {
  margin-left: 3px;
  font-size: 1.3rem;
}

.o-btn.long {
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
.o-btn.elastic {
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.o-btn span {
  margin-left: 10px;
}
.o-btn:hover {
  background-color: #2ed315;
  box-shadow: 0 0 4px 2px rgba(55, 188, 35, 1);
}
.c-calendar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  height: calc(100vh - 360px);
  overflow: auto;
}
.wrapper__c-calendar__style {
  background-color: #08763f;
  margin: 0 20px 20px;
  padding: 20px/2;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.18);
  border-radius: 6px;
  -webkit-border-radius: 6px;
}
.c-calendar__c-cal__container {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: transparent!important;
  box-shadow: none!important;
  display: flex;
  gap: 20px;
  flex: 1;
}
.name-month {
  font-size: 1.3rem;
  color: #FFFFFF;
}
.c-main {
  background-color: #08763f;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.c-main-01 {
  left: 0;
}
.c-main-02 {
  left: 100%;
}
.c-main-03 {
  left: 200%;
}
.c-main-04 {
  left: 300%;
}
.c-main-05 {
  left: 400%;
}
.c-main-06 {
  left: 500%;
}
.c-main-07 {
  left: 600%;
}
.c-main-08 {
  left: 700%;
}
.c-main-09 {
  left: 800%;
}
.c-main-10 {
  left: 900%;
}
.c-main-11 {
  left: 1000%;
}
.c-main-12 {
  left: 1100%;
}
.c-cal__row {
  display: flex;
  justify-content: flex-start;
}
.c-cal__col {
  width: calc(100% / 7);
  text-align: center;
  height: 50px;
  line-height: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFF;
}
.c-cal__cel {
  position: relative;
  width: calc(100% / 7);
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  color: #FFFFFF;
  height: 3rem;
}
.c-cal__cel p {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #2ed315;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 1.2rem;
  color: #FFFFFF;
}
.c-cal__cel::before {
  content: "";
  display: block;
  padding-top: 100%;
}
.c-cal__cel:nth-child(1) p {
  color: #ffffff;
}
.c-cal__cel:nth-child(7) p {
  background: rgba(215, 16, 15, 0.2);
  color: #ffffff;
}
.c-cal__cel:hover {
  background-color: #08af3c !important;
}
.c-cal__cel:hover p {
  background: #2ed315 !important;
  color: #000;
}
.c-cal__cel.isSelected {
  background-color: #08af3c;
}
.c-cal__cel.isSelected p {
  background: #2ed315;
}
.c-cal__cel.isToday {
  background-color: rgba(245, 113, 112, 0.2);
}
.c-cal__cel.isToday p {
  background: rgba(245, 113, 112, 0.4);
}
.c-cal__cel.other_month {
  color: rgba(255, 255, 255, 0.2);
}
.event:before {
  position: absolute;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: #F5F5F5;
  z-index: 10;
  padding: 0;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  transform: translate(-50%, calc(50% + 10px/2));
  -webkit-transform: translate(-50%, calc(50% + 10px/2));
  -moz-transform: translate(-50%, calc(50% + 10px/2));
  -ms-transform: translate(-50%, calc(50% + 10px/2));
  -o-transform: translate(-50%, calc(50% + 10px/2));
}
.event--birthday:before {
  background-color: #FACC2E;
}
.event--important:before {
  background-color: #F57170;
}
.c-aside {
  padding: 20px;
  position: sticky;
  top: 0;
  flex: 1;
}
.c-aside__day {
  font-size: 28px;
  margin: 50px 0;
  color: #FFFFFF;
}
.c-aside__day .c-aside__num {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}
.c-aside__event {
  position: relative;
  padding-left: 20px;
  margin: 20px 0;
  color: #FFFFFF;
}
.c-aside__event:before {
  position: absolute;
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  left: 0;
  background-color: #F5F5F5;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.c-aside__event--birthday:before {
  background-color: #FACC2E;
}
.c-aside__event--festivity:before {
  background-color: #10DDC2;
}
.c-aside__event--important:before {
  background-color: #F57170;
}
.wrapper__c-event__creator {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 300px;
  width: 100%;
  z-index: 99999;
  padding: 20px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transform: translate(-50%, -50%) scale(0.9);
  -webkit-transform: translate(-50%, -50%) scale(0.9);
}
.wrapper__c-event__creator.long {
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
.wrapper__c-event__creator.elastic {
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.wrapper__c-event__creator form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.wrapper__c-event__creator.isVisible {
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}
input,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 0px;
  padding: 0;
  border-width: 0;
  resize: none;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
input::-ms-expand,
textarea::-ms-expand,
select::-ms-expand {
  display: none;
}
input {
  height: 40px;
}

.visib {
  visibility: hidden;
}

.c-monthyear button {
  background: #37bc23;
  border: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 30px;
  height: 30px;
  color: #ffffff;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.c-monthyear button:hover {
  color: #05552d;
  box-shadow: 0 0 4px 2px rgba(55, 188, 35, 1); 
}

.c-monthyear button span {
  font-size: 2.2rem;
  line-height: 28px;
}

.wrapper__head-event__block {
  display: flex;
  justify-content: space-between;
  gap: 20px 40px;
  flex-wrap: wrap;
}

.head-event {
  position: relative;
}

.eve::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  left: -20px;
  display: block;
  width: 10px;
  height: 10px;
  background-color: #F5F5F5;
  z-index: 10;
  padding: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.eve--import::before {
  background-color: #F57170;
}

.eve--birth::before {
  background-color: #FACC2E;
}

.head-event p{
  margin: 0;
  font-size: 0.7rem;
}

.tab-mon {
  width: 100%;
  flex-shrink: 0;
  display: grid;
  gap: 20px;
  left: -100%;
}
.pos-abs {
  position: absolute;
}
.save-date {
  border: none;
}

.save-date:hover {
  color: #05552d
}

.panel.panel-fullscreen .c-calendar {
  height: calc(100vh - 115px);
}

@media screen and (max-width: 1130px) {
  .wrapper__head-event__block {
    flex-direction: column;
    padding: 10px 0;
    gap: 10px 40px;
  }
}
@media screen and (max-width: 800px) {
  .c-calendar__c-cal__container {
    flex: 2;
  }
  .c-add{
    height: auto;
  }
  .c-aside {
    padding: 10px;
  }
}
@media screen and (max-width: 640px) {
  .c-aside {
    display: none;
    width: 300px;
    padding: 20px;
  }
  .c-aside.active-aside {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: 9999;
  }
  .close-aside {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 14px;
    right: 14px;
    background: #08af3c;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .close-aside::after,
  .close-aside::before {
    content: '';
    width: 70%;
    height: 3px;
    background: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translateY(-50%) rotate(-45deg);
    -webkit-transform: translateY(-50%) rotate(-45deg);
    -moz-transform: translateY(-50%) rotate(-45deg);
    -ms-transform: translateY(-50%) rotate(-45deg);
    -o-transform: translateY(-50%) rotate(-45deg);
}
  .close-aside::after {
    transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);
    -moz-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    -o-transform: translateY(-50%) rotate(45deg);
}
}
@media screen and (max-width: 540px) {
  .wrapper__head-event__block {
    order: 1;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
  header > .wrapper {
    flex-wrap: wrap;
  }
  .c-monthyear {
    margin: 0;
  }
  .wrapper__c-calendar__style {
    margin: 0;
  }
}


/* хром, сафари */
.panel-container::-webkit-scrollbar { width: 0; }

/* ie 10+ */
.panel-container { -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
.panel-container { overflow: -moz-scrollbars-none; }